extend base.pug

block style 
    style 
         include ../static/style.css        

block content 
     section#intro 
         div Welcome to INDIA's best dance academy!
     
     section#mission    
         h2.heading Our Mission 
         div.card-box
             div.cards
                 h3  Make you pro dancer 
                 div.card-box
                     img(src="/static/img1.png", alt="")
                     p1  
             div.cards
                 h3 Known at international level
                 div.card-box
                     img(src="/static/img2.png", alt="")
             div.cards
                 h3 Expert Teaching
                 div.card-box
                     img(src="/static/img3.png", alt="")
     
     section#sponsor 
            h2.heading Our Sponsors  
            div#logo
                 img(src="/static/fb.png", alt="facebook")
                 img(src="/static/hp.png", alt="hp")
                 img(src="/static/apple.png", alt="apple")
                 img(src="/static/samsug.png", alt="samsung")
                               