#container{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}
#container h1{
    font-size: 3rem;
}

.myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formInput{
    padding: 10px;
    width:500px;
    margin: 10px;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    font-size: 1.3rem;
}
.btn{
    width: 20%;
    margin: 10px;
    padding: 10px;
    font-size: 1.3rem;
    border: 2px solid grey;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
}